// Custom theme styles.

// style the site brand logo
.site-brand {
    height: 48px;
    width: 190px;
    fill: currentColor;
}

// Cover styles
#site-cover {
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Disable fixed background on small screens to avoid performance/paint issues */
@media (max-width: 768px) {
  #site-cover {
    background-attachment: scroll;
  }
}

// Carousel styles
.carousel {

    /* Ensure carousel controls don't interfere with info box and image credits */
    .carousel-control-prev,
    .carousel-control-next {
        background: none;
        /* remove invisible background */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        pointer-events: auto;
        /* clickable */

    }

    .carousel-control-prev,
    .carousel-control-next {
        pointer-events: none;
        /* container not clickable */
    }

    .slide-item {
        height: 70vh; // Set the height of the carousel

        .slide-image {
            // Scale and fit the images
            object-fit: cover;
            height: 100%;
            filter: brightness(0.7); // Darken the image
        }
    }
}

// astro-icons
.astro-icons {
    width: 1em;
    height: 1em;
    fill: var(--bs-primary);
}

.astro-icons-big {
    width: 4em;
    height: 4em;
}

// site icons
.site-icons {
    width: 1em;
    height: 1em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

// contact icons
.contact-icons {
    width: 1.5em;
    height: 1.5em;
}

// icons styles
.social-icon {
    width: 1.2em;
    height: 1.2em;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* hover colors */
$icon-blue: #0085ff;
$icon-black: #000000;
$icon-gray: #8b8b8b;
$icon-red: #FF0000;

.icon-twitter:hover {
    fill: $icon-blue;
}

.icon-xitter:hover {
    fill: $icon-black;
}

.icon-bsky:hover {
    fill: $icon-blue;
}

.icon-github:hover {
    fill: $icon-gray;
}

.icon-youtube:hover {
    fill: $icon-red;
}

.icon-facebook:hover {
    fill: $icon-blue;
}

.video-container {
  width: 80%;              /* make it 60% of page width */
  margin: 1rem auto;          /* center horizontally */
  position: relative;
  padding-bottom: 45.0%;  /* maintain 16:9 aspect ratio */
  height: 0;               /* collapse initial height */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;             /* fill container */
  height: 100%;
}
