{{ define "main" }}
<div class="container py-4">
  <article>
    <header class="mb-3">
      <h1>{{ .Title }}</h1>
      <div class="text-muted">
        <time datetime="{{ .Date.Format `2006-01-02T15:04:05Z0700` }}">{{ .Date | time.Format ":date_long" }}</time>
      </div>
  {{ partial "person-names.html" (dict "page" . "param" "authors" "prefix" "by ") }}
  {{ partial "share-links.html" . }}
    </header>

    <div class="content">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
