<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='astro-icons astro-icons-big'>
            <use href="{{ `/icons/astro-icons.svg#astro-4-1` | relURL }}"/>
        </svg>
        <h2 class="h2">Public Outreach</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='astro-icons astro-icons-big'>
            <use href="{{ `/icons/astro-icons.svg#astro-2-1` | relURL }}"/>
        </svg>
        <h2 class="h2">Observing the Night Sky</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='astro-icons astro-icons-big'>
            <use href="{{ `/icons/astro-icons.svg#astro-5-1` | relURL }}"/>
        </svg>
        <h2 class="h2">Astronomy Resources</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, nihil, libero, perspiciatis eos provident laborum eum dignissimos.</p>
    </div>
</div>
