{{ define "main" }}
<div class="container py-4">
  <article>
    <header class="mb-3">
      <h1>{{ .Title }}</h1>
      {{ with .Date }}
      <div class="text-muted">
  <time datetime="{{ .Format `2006-01-02T15:04:05Z0700` }}">{{ . | time.Format ":date_long" }} {{ . | time.Format "3:04 PM" }}</time>
      </div>
      {{ end }}
      {{ with .Params.speakers }}
      {{ $count := len . }}
      {{ if eq $count 1 }}
        {{ $label := "Speaker" }}
      {{ else }}
        {{ $label := "Speakers" }}
      {{ end }}
      <p class="mb-1"><strong>{{ if eq $count 1 }}Speaker{{ else }}Speakers{{ end }}:</strong> {{ partial "person-names.html" (dict "page" $ "param" "speakers") }}</p>
      {{ end }}
  {{ with .Params.organizers }}
  {{ $count := len . }}
  <p class="mb-1"><strong>{{ if eq $count 1 }}Organizer{{ else }}Organizers{{ end }}:</strong> {{ partial "person-names.html" (dict "page" $ "param" "organizers") }}</p>
  {{ end }}
  {{ partial "share-links.html" . }}
    </header>

    <div class="content">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}
