<!-- Use this for testing:
<form id="myForm" action="https://httpbin.org/post" method="post" target="_blank">
-->
<form id="myForm" action="http://westminsterastro.shark-server.com/cgi-westminsterastro/formmail.pl" method="POST" target="_blank">

  <input type="hidden" name="recipient" value="jack@ganssle.com">
  <input type=hidden name="redirect" value="http://westminsterastro.shark-server.com/app-form-payment">
  <input type=hidden name="subject" value="Submission from WASI web site application form">
  
  <div>
    <input type="radio" id="NewMember" name="type_member" required value="NewMember">
    <label for="NewMember">I (we) are signing up to be new member(s)</label>
  </div>
  <div>
    <input type="radio" id="ChangeMember" name="type_member" required value="ChangeMember">
    <label for="ChangeMember">This is a <i>change</i> to my membership (e.g., a new address)</label>
  </div>
  <div>
    <input type="radio" id="RenewMember" name="type_member" required value="RenewMember">
    <label for="RenewMember">This is a membership renewal</label>
  </div>
  
  <p style="text-indent: 1em;"><i>If you are a member, your member number (found on membership card):</i>
  <input type="text" id="member_number">
  </p>

  <br>
  <label for="name">Your name: </label>
  <input type="text" id="name" name="name" size="50" required>

  <br>
  <label for="family_names">If family membership, enter names of those who should get membership cards:</label>
  <input type="text" id="family_names" name="family_names" size="80">
  
  <br><br>
  <label for="address">Address:</label>
  <input type="text" id="address" name="address" required>
  <br>
  <label for="city">City:</label>
  <input type="text" id="city" name="city" required>
  
  <label for="state"> State:</label>
  <input type="text" id="state" name="state" required>

  <label for="zip">Zip:</label>
  <input type="text" id="zip" name="zip" required size="10">

  <br>
  <label for="country">Country:</label>
  <input type="text" id="country" name="country" value="USA">
  
  <br>
  <label for="phone">Phone number:</label>
  <input type="text" id="phone" name="phone" required>

  <br>
  <label for="email">Email, separate emails with commas:</label>
  <input type="text" id="email" required name="email" value="" size="60">

  <br>
  <label for="youth">If youth membership (under 18), year member turns 18:</label>
  <input type="text" id="youth" name="youth" size="5">

  <br>
  <label for="comments">Comments:</label><br>
  <textarea id="comments" name="comments" rows="4" cols="50">
  </textarea>
  
  <br><br>
  After you press "Submit" you'll be taken to the payment page.
  <br>
  <button type="submit">Submit</button>
</form>

