<!-- Use this for testing:
<form id="myForm" action="https://httpbin.org/post" method="post" target="_blank">
-->
<form id="myForm" action="http://westminsterastro.shark-server.com/cgi-westminsterastro/formmail.pl" method="POST" target="_blank">

  <input type="hidden" name="recipient" value="lvhager@comcast.net,jack-ebay@ganssle.com">
  <input type="hidden" name="redirect" value="http://westminsterastro.shark-server.com/app-form-payment">
  <input type="hidden" name="subject" value="Submission from WASI web site application form">
  
  <div>
    <input type="radio" id="NewMember" name="type_member" required value="NewMember">
    <label for="NewMember">I (we) are signing up to be new member(s)</label>
  </div>
  <div>
    <input type="radio" id="ChangeMember" name="type_member" required value="ChangeMember">
    <label for="ChangeMember">This is a <i>change</i> to my membership (e.g., a new address)</label>
  </div>
  <div>
    <input type="radio" id="RenewMember" name="type_member" required value="RenewMember">
    <label for="RenewMember">This is a membership renewal</label>
  </div>
  <div>
    <input type="radio" id="YouthMember" name="type_member" required value="YouthMember">
    <label for="YouthMember">Under 18 youth membership</label>
  </div>

  <p style="text-indent: 1em">
  <label for="youth">If youth membership, year member turns 18:</label>
  <input type="text" id="youth" name="youth" size="5">
</p>

  <p style="text-indent: 2em;"><i>Optional: If you are or were a member, your previously-registered name or member number (from membership card):</i>
  <p style="text-indent:4em">
  <input type="text" id="member_number">
  </p>

  <br>
  <label for="YourName">Your name: </label>
  <input type="text" id="YourName" name="YourName" size="30" required>
  <label for="YourEmail">Your email:</label>
  <input type="text" id="YourEmail" required name="YourEmail" value="" size="20">
  
  <br>
  If family membership, enter names of those who should get membership cards:
  <br>
  <label for="family_name1">Name:</label>
  <input type="text" id="family_name1" name="family_name1" size="30">
  <label for="email1">Email:</label>
  <input type="text" id="email1" name="email1" value="" size="20">
  <br>
  <label for="family_name1">Name:</label>
  <input type="text" id="family_name2" name="family_nam2" size="30">
  <label for="email2">Email:</label>
  <input type="text" id="email2" name="email2" value="" size="20">
  <br>
  <label for="family_name1">Name:</label>
  <input type="text" id="family_name3" name="family_name3" size="30">
  <label for="email3">Email:</label>
  <input type="text" id="email3" name="email3" value="" size="20">
  
  <br><br>
  <label for="address">Address:</label>
  <input type="text" id="address" name="address" required>
  <br>
  <label for="city">City:</label>
  <input type="text" id="city" name="city" required>
  
  <label for="state"> State:</label>
  <input type="text" id="state" name="state" required>

  <label for="zip">Zip:</label>
  <input type="text" id="zip" name="zip" required size="10">

  <br>
  <label for="country">Country:</label>
  <input type="text" id="country" name="country" value="USA">
  
  <br>
  <label for="phone">Phone number:</label>
  <input type="text" id="phone" name="phone" required>
  
  <br>
  <label for="comments">What would you like us to know? Additional family members/emails?  No problem.  Add them here:</label><br>
  <textarea id="comments" name="comments" rows="4" cols="50">
  </textarea>
  
  <br><br>
  After you press "Submit" you'll be taken to the payment page.
  <br>
  <button type="submit">Submit</button>
</form>

